#sidestore dependencies
[submodule "Dependencies/minimuxer"]
	path = Dependencies/minimuxer
	url = git@github.com:XTS2005/minimuxer
[submodule "Dependencies/AltSign"]
	path = Dependencies/AltSign
	url = git@github.com:XTS2005/AltSign
