<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entitlements</key>
	<dict>
		<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
		<dict>
			<key>name</key>
			<string>自动填充凭证提供者</string>
			<key>description</key>
			<string>允许 App 为自动填充提供用户名和密码。</string>
			<key>key</key>
			<string>com.apple.developer.authentication-services.autofill-credential-provider</string>
			<key>symbol</key>
			<string>wallet.pass</string>
		</dict>
		<key>com.apple.developer.applesignin</key>
		<dict>
			<key>name</key>
			<string>通过 Apple 登录</string>
			<key>description</key>
			<string>允许通过 Apple 登录。</string>
			<key>key</key>
			<string>com.apple.developer.applesignin</string>
			<key>symbol</key>
			<string>apple.logo</string>
		</dict>
		<key>com.apple.developer.parent-application-identifiers</key>
		<dict>
			<key>name</key>
			<string>App Clips - 父标识符</string>
			<key>description</key>
			<string>允许 App 使用 App Clips。</string>
			<key>key</key>
			<string>com.apple.developer.parent-application-identifiers</string>
			<key>symbol</key>
			<string>appclip</string>
		</dict>
		<key>com.apple.developer.associated-appclip-app-identifiers</key>
		<dict>
			<key>name</key>
			<string>App Clips - 关联标识符</string>
			<key>description</key>
			<string>允许 App 与其它 App 一起使用 App Clips。</string>
			<key>key</key>
			<string>com.apple.developer.associated-appclip-app-identifiers</string>
			<key>symbol</key>
			<string>appclip</string>
		</dict>
		<key>com.apple.developer.on-demand-install-capable</key>
		<dict>
			<key>name</key>
			<string>App Clips - 安装</string>
			<key>description</key>
			<string>App 可以安装 App Clips。</string>
			<key>key</key>
			<string>com.apple.developer.on-demand-install-capable</string>
			<key>symbol</key>
			<string>appclip</string>
		</dict>
		<key>com.apple.developer.carplay-audio</key>
		<dict>
			<key>name</key>
			<string>CarPlay 音频</string>
			<key>description</key>
			<string>允许 App 为 CarPlay 提供音频内容。</string>
			<key>key</key>
			<string>com.apple.developer.carplay-audio</string>
			<key>symbol</key>
			<string>car</string>
		</dict>
		<key>com.apple.developer.carplay-charging</key>
		<dict>
			<key>name</key>
			<string>CarPlay 充电</string>
			<key>description</key>
			<string>允许 CarPlay 的充电功能。</string>
			<key>key</key>
			<string>com.apple.developer.carplay-charging</string>
			<key>symbol</key>
			<string>car</string>
		</dict>
		<key>com.apple.developer.carplay-communication</key>
		<dict>
			<key>name</key>
			<string>CarPlay 通信</string>
			<key>description</key>
			<string>允许 App 通过 CarPlay 拨打和接听电话、发送和接收信息以及进行其它通信。</string>
			<key>key</key>
			<string>com.apple.developer.carplay-communication</string>
			<key>symbol</key>
			<string>car</string>
		</dict>
		<key>com.apple.developer.carplay-maps</key>
		<dict>
			<key>name</key>
			<string>CarPlay 地图</string>
			<key>description</key>
			<string>允许为 CarPlay 使用地图和导航服务。</string>
			<key>key</key>
			<string>com.apple.developer.carplay-maps</string>
			<key>symbol</key>
			<string>car</string>
		</dict>
		<key>com.apple.developer.carplay-parking</key>
		<dict>
			<key>name</key>
			<string>CarPlay 停车</string>
			<key>description</key>
			<string>允许 App 为 CarPlay 提供停车相关服务。</string>
			<key>key</key>
			<string>com.apple.developer.carplay-parking</string>
			<key>symbol</key>
			<string>car</string>
		</dict>
		<key>com.apple.developer.carplay-quick-ordering</key>
		<dict>
			<key>name</key>
			<string>CarPlay 快速点单</string>
			<key>description</key>
			<string>允许 CarPlay 的快速点单功能。</string>
			<key>key</key>
			<string>com.apple.developer.carplay-quick-ordering</string>
			<key>symbol</key>
			<string>car</string>
		</dict>
		<key>com.apple.developer.carplay-messaging</key>
		<dict>
			<key>name</key>
			<string>CarPlay 信息</string>
			<key>description</key>
			<string>允许通过 CarPlay 发送和接收信息。</string>
			<key>key</key>
			<string>com.apple.developer.carplay-messaging</string>
			<key>symbol</key>
			<string>car</string>
		</dict>
		<key>com.apple.developer.contact.notes</key>
		<dict>
			<key>name</key>
			<string>联系人备注</string>
			<key>description</key>
			<string>允许访问联系人条目中的备注。</string>
			<key>key</key>
			<string>com.apple.developer.contact.notes</string>
			<key>symbol</key>
			<string>person.crop.circle</string>
		</dict>
		<key>com.apple.developer.automated-device-enrollment.add-devices</key>
		<dict>
			<key>name</key>
			<string>自动设备注册</string>
			<key>description</key>
			<string>允许将设备添加到自动设备注册。</string>
			<key>key</key>
			<string>com.apple.developer.automated-device-enrollment.add-devices</string>
			<key>symbol</key>
			<string>macbook.and.iphone</string>
		</dict>
		<key>com.apple.developer.ClassKit-environment</key>
		<dict>
			<key>name</key>
			<string>ClassKit</string>
			<key>description</key>
			<string>允许教育 App 在 Schoolwork App 中使用 ClassKit 开发或生产环境。</string>
			<key>key</key>
			<string>com.apple.developer.ClassKit-environment</string>
			<key>symbol</key>
			<string>books.vertical</string>
		</dict>
		<key>com.apple.developer.automatic-assessment-configuration</key>
		<dict>
			<key>name</key>
			<string>自动评估配置</string>
			<key>description</key>
			<string>允许 App 创建评估会话。</string>
			<key>key</key>
			<string>com.apple.developer.automatic-assessment-configuration</string>
			<key>symbol</key>
			<string>books.vertical</string>
		</dict>
		<key>com.apple.developer.mail-client</key>
		<dict>
			<key>name</key>
			<string>邮件客户端</string>
			<key>description</key>
			<string>允许 App 作为用户的默认邮件客户端。</string>
			<key>key</key>
			<string>com.apple.developer.mail-client</string>
			<key>symbol</key>
			<string>envelope</string>
		</dict>
		<key>com.apple.developer.exposure-notification</key>
		<dict>
			<key>name</key>
			<string>暴露通知</string>
			<key>description</key>
			<string>App 可以使用暴露通知功能。</string>
			<key>key</key>
			<string>com.apple.developer.exposure-notification</string>
			<key>symbol</key>
			<string>microbe.fill</string>
		</dict>
		<key>com.apple.developer.family-controls</key>
		<dict>
			<key>name</key>
			<string>家人控制</string>
			<key>description</key>
			<string>App 可以请求或撤销提供家长控制的授权。</string>
			<key>key</key>
			<string>com.apple.developer.family-controls</string>
			<key>symbol</key>
			<string>figure.and.child.holdinghands</string>
		</dict>
		<key>com.apple.developer.fileprovider.testing-mode</key>
		<dict>
			<key>name</key>
			<string>测试模式</string>
			<key>description</key>
			<string>App 可以进入测试模式。</string>
			<key>key</key>
			<string>com.apple.developer.fileprovider.testing-mode</string>
			<key>symbol</key>
			<string>testtube.2</string>
		</dict>
		<key>com.apple.developer.game-center</key>
		<dict>
			<key>name</key>
			<string>Game Center</string>
			<key>description</key>
			<string>App 可以查看和比较排行榜上的成就、邀请朋友以及开始多人游戏。</string>
			<key>key</key>
			<string>com.apple.developer.game-center</string>
			<key>symbol</key>
			<string>gamecontroller</string>
		</dict>
		<key>com.apple.developer.group-session</key>
		<dict>
			<key>name</key>
			<string>群组活动</string>
			<key>description</key>
			<string>允许 App 安排和参与群组活动。</string>
			<key>key</key>
			<string>com.apple.developer.group-session</string>
			<key>symbol</key>
			<string>person.3</string>
		</dict>
		<key>com.apple.developer.healthkit</key>
		<dict>
			<key>name</key>
			<string>健康</string>
			<key>description</key>
			<string>允许 App 访问你的健康数据。</string>
			<key>key</key>
			<string>com.apple.developer.healthkit</string>
			<key>symbol</key>
			<string>heart.text.square</string>
		</dict>
		<key>com.apple.developer.healthkit.access</key>
		<dict>
			<key>name</key>
			<string>敏感健康数据</string>
			<key>description</key>
			<string>允许 App 访问你的敏感健康数据。</string>
			<key>key</key>
			<string>com.apple.developer.healthkit.access</string>
			<key>symbol</key>
			<string>heart.text.square</string>
		</dict>
		<key>healthkit.background-delivery</key>
		<dict>
			<key>name</key>
			<string>健康 - 后台更新</string>
			<key>description</key>
			<string>App 在后台运行时可以接收健康更新。</string>
			<key>key</key>
			<string>com.apple.developer.healthkit.background-delivery</string>
			<key>symbol</key>
			<string>heart.text.square</string>
		</dict>
		<key>com.apple.developer.healthkit.recalibrate-estimates</key>
		<dict>
			<key>name</key>
			<string>健康 - 重新校准</string>
			<key>description</key>
			<string>App 可以重新校准健康数据。</string>
			<key>key</key>
			<string>com.apple.developer.healthkit.recalibrate-estimates</string>
			<key>symbol</key>
			<string>heart.text.square</string>
		</dict>
		<key>com.apple.developer.homekit</key>
		<dict>
			<key>name</key>
			<string>HomeKit</string>
			<key>description</key>
			<string>App 可以执行 HomeKit 配件的设置和管理任务。</string>
			<key>key</key>
			<string>com.apple.developer.homekit</string>
			<key>symbol</key>
			<string>house</string>
		</dict>
		<key>com.apple.developer.homekit.matter.allow-setup-payload</key>
		<dict>
			<key>name</key>
			<string>HomeKit - Matter</string>
			<key>description</key>
			<string>允许 App 提供 Matter 设备的设置。</string>
			<key>key</key>
			<string>com.apple.developer.homekit.matter.allow-setup-payload</string>
			<key>symbol</key>
			<string>house</string>
		</dict>
		<key>com.apple.security.hypervisor</key>
		<dict>
			<key>name</key>
			<string>虚拟机</string>
			<key>description</key>
			<string>允许 App 创建和管理虚拟机。</string>
			<key>key</key>
			<string>com.apple.security.hypervisor</string>
			<key>symbol</key>
			<string>externaldrive.connected.to.line.below</string>
		</dict>
		<key>com.apple.vm.device-access</key>
		<dict>
			<key>name</key>
			<string>设备访问</string>
			<key>description</key>
			<string>App 可以捕获 USB 设备并在客户操作系统中使用它们。</string>
			<key>key</key>
			<string>com.apple.vm.device-access</string>
			<key>symbol</key>
			<string>mediastick</string>
		</dict>
		<key>com.apple.vm.networking</key>
		<dict>
			<key>name</key>
			<string>虚拟网络</string>
			<key>description</key>
			<string>App 可以在无需提升至 root 用户权限的情况下管理虚拟网络接口。</string>
			<key>key</key>
			<string>com.apple.vm.networking</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>com.apple.security.virtualization</key>
		<dict>
			<key>name</key>
			<string>虚拟化</string>
			<key>description</key>
			<string>App 可以使用虚拟化框架。</string>
			<key>key</key>
			<string>com.apple.security.virtualization</string>
			<key>symbol</key>
			<string>server.rack</string>
		</dict>
		<key>com.apple.developer.icloud-container-development-container-identifiers</key>
		<dict>
			<key>name</key>
			<string>iCloud 容器开发容器标识符</string>
			<key>description</key>
			<string>App 可以在测试环境中使用 iCloud 容器。</string>
			<key>key</key>
			<string>com.apple.developer.icloud-container-development-container-identifiers</string>
			<key>symbol</key>
			<string>icloud</string>
		</dict>
		<key>com.apple.developer.icloud-container-environment</key>
		<dict>
			<key>name</key>
			<string>iCloud 容器环境</string>
			<key>description</key>
			<string>App 可以设置 iCloud 测试环境。</string>
			<key>key</key>
			<string>com.apple.developer.icloud-container-environment</string>
			<key>symbol</key>
			<string>icloud</string>
		</dict>
		<key>com.apple.developer.icloud-container-identifiers</key>
		<dict>
			<key>name</key>
			<string>iCloud 容器标识符</string>
			<key>description</key>
			<string>App 可以设置用于测试环境的 iCloud 标识符。</string>
			<key>key</key>
			<string>com.apple.developer.icloud-container-identifiers</string>
			<key>symbol</key>
			<string>icloud</string>
		</dict>
		<key>com.apple.developer.icloud-services</key>
		<dict>
			<key>name</key>
			<string>iCloud 服务</string>
			<key>description</key>
			<string>允许访问 iCloud 服务。</string>
			<key>key</key>
			<string>com.apple.developer.icloud-services</string>
			<key>symbol</key>
			<string>icloud</string>
		</dict>
		<key>com.apple.developer.ubiquity-kvstore-identifier</key>
		<dict>
			<key>name</key>
			<string>iCloud 键值存储</string>
			<key>description</key>
			<string>用于 iCloud 键值存储的容器标识符。</string>
			<key>key</key>
			<string>com.apple.developer.ubiquity-kvstore-identifier</string>
			<key>symbol</key>
			<string>icloud</string>
		</dict>
		<key>com.apple.developer.location.push</key>
		<dict>
			<key>name</key>
			<string>位置共享推送通知</string>
			<key>description</key>
			<string>允许位置共享 App 在收到推送通知时查询某人的位置。</string>
			<key>key</key>
			<string>com.apple.developer.location.push</string>
			<key>symbol</key>
			<string>location</string>
		</dict>
		<key>com.apple.developer.media-device-discovery-extension</key>
		<dict>
			<key>name</key>
			<string>媒体设备发现扩展</string>
			<key>description</key>
			<string>App 扩展，可将第三方媒体接收器添加到系统设备选择界面中。</string>
			<key>key</key>
			<string>com.apple.developer.media-device-discovery-extension</string>
			<key>symbol</key>
			<string>display.2</string>
		</dict>
		<key>com.apple.developer.avfoundation.multitasking-camera-access</key>
		<dict>
			<key>name</key>
			<string>多任务相机访问</string>
			<key>description</key>
			<string>App 可以在另一个前台 App 运行的同时继续使用相机。</string>
			<key>key</key>
			<string>com.apple.developer.avfoundation.multitasking-camera-access</string>
			<key>symbol</key>
			<string>camera.on.rectangle</string>
		</dict>
		<key>com.apple.developer.kernel.increased-memory-limit</key>
		<dict>
			<key>name</key>
			<string>增加的内存限制</string>
			<key>description</key>
			<string>允许 App 在支持的设备上以更高的内存限制获得更好性能。</string>
			<key>key</key>
			<string>com.apple.developer.kernel.increased-memory-limit</string>
			<key>symbol</key>
			<string>memorychip</string>
		</dict>
		<key>com.apple.developer.kernel.extended-virtual-addressing</key>
		<dict>
			<key>name</key>
			<string>扩展虚拟寻址</string>
			<key>description</key>
			<string>App 可以访问扩展地址空间。</string>
			<key>key</key>
			<string>com.apple.developer.kernel.extended-virtual-addressing</string>
			<key>symbol</key>
			<string>memorychip</string>
		</dict>
		<key>com.apple.developer.networking.networkextension</key>
		<dict>
			<key>name</key>
			<string>网络扩展</string>
			<key>description</key>
			<string>App 可以自定义网络功能。</string>
			<key>key</key>
			<string>com.apple.developer.networking.networkextension</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>com.apple.developer.networking.vpn.api</key>
		<dict>
			<key>name</key>
			<string>个人 VPN</string>
			<key>description</key>
			<string>App 可以创建和控制自定义系统 VPN 配置。</string>
			<key>key</key>
			<string>com.apple.developer.networking.vpn.api</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>com.apple.developer.associated-domains</key>
		<dict>
			<key>name</key>
			<string>关联域</string>
			<key>description</key>
			<string>用于特定服务（如共享网页凭证、通用链接和 App Clips）的关联域。</string>
			<key>key</key>
			<string>com.apple.developer.associated-domains</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>com.apple.developer.networking.multicast</key>
		<dict>
			<key>name</key>
			<string>多播</string>
			<key>description</key>
			<string>App 可以发送或接收 IP 多播流量。</string>
			<key>key</key>
			<string>com.apple.developer.networking.multicast</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>com.apple.developer.associated-domains.applinks.read-write</key>
		<dict>
			<key>name</key>
			<string>App 链接</string>
			<key>description</key>
			<string>允许 App 对 App 链接进行读写访问。</string>
			<key>key</key>
			<string>com.apple.developer.associated-domains.applinks.read-write</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>com.apple.developer.networking.manage-thread-network-credentials</key>
		<dict>
			<key>name</key>
			<string>Thread 网络</string>
			<key>description</key>
			<string>允许访问 ThreadNetwork API。</string>
			<key>key</key>
			<string>com.apple.developer.networking.manage-thread-network-credentials</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>aps-environment</key>
		<dict>
			<key>name</key>
			<string>推送通知</string>
			<key>description</key>
			<string>App 可以发送推送通知。</string>
			<key>key</key>
			<string>aps-environment</string>
			<key>symbol</key>
			<string>app.badge</string>
		</dict>
		<key>com.apple.developer.usernotifications.filtering</key>
		<dict>
			<key>name</key>
			<string>通知过滤</string>
			<key>description</key>
			<string>App 可以接收通知而不向用户显示。</string>
			<key>key</key>
			<string>com.apple.developer.usernotifications.filtering</string>
			<key>symbol</key>
			<string>platter.filled.top.and.arrow.up.iphone</string>
		</dict>
		<key>com.apple.developer.device-information.user-assigned-device-name</key>
		<dict>
			<key>name</key>
			<string>设备名称</string>
			<key>description</key>
			<string>允许访问用户分配的设备名称，而非通用设备名称。</string>
			<key>key</key>
			<string>com.apple.developer.device-information.user-assigned-device-name</string>
			<key>symbol</key>
			<string>ipad.and.iphone</string>
		</dict>
		<key>com.apple.developer.severe-vehicular-crash-event</key>
		<dict>
			<key>name</key>
			<string>车祸检测</string>
			<key>description</key>
			<string>允许访问车祸检测事件。</string>
			<key>key</key>
			<string>com.apple.developer.severe-vehicular-crash-event</string>
			<key>symbol</key>
			<string>car.side.and.exclamationmark</string>
		</dict>
		<key>com.apple.security.application-groups</key>
		<dict>
			<key>name</key>
			<string>App 组</string>
			<key>description</key>
			<string>允许 App 与同一 App 组中的其它 App 和 App 扩展共享文件。</string>
			<key>key</key>
			<string>com.apple.security.application-groups</string>
			<key>symbol</key>
			<string>rectangle.3.group</string>
		</dict>
		<key>keychain-access-groups</key>
		<dict>
			<key>name</key>
			<string>钥匙串</string>
			<key>description</key>
			<string>允许 App 在系统钥匙串中读取和写入安全数据。</string>
			<key>key</key>
			<string>keychain-access-groups</string>
			<key>symbol</key>
			<string>key.horizontal</string>
		</dict>
		<key>com.apple.developer.default-data-protection</key>
		<dict>
			<key>name</key>
			<string>数据保护</string>
			<key>description</key>
			<string>App 可以设置在设备上访问敏感用户数据时的数据保护级别。</string>
			<key>key</key>
			<string>com.apple.developer.default-data-protection</string>
			<key>symbol</key>
			<string>lock.doc</string>
		</dict>
		<key>com.apple.developer.devicecheck.appattest-environment</key>
		<dict>
			<key>name</key>
			<string>App Attest 环境</string>
			<key>description</key>
			<string>允许 App 使用 App Attest 服务来验证自身。</string>
			<key>key</key>
			<string>com.apple.developer.devicecheck.appattest-environment</string>
			<key>symbol</key>
			<string>app.badge.checkmark</string>
		</dict>
		<key>com.apple.security.smartcard</key>
		<dict>
			<key>name</key>
			<string>智能卡访问</string>
			<key>description</key>
			<string>允许访问智能卡插槽和智能卡。</string>
			<key>key</key>
			<string>com.apple.security.smartcard</string>
			<key>symbol</key>
			<string>greetingcard</string>
		</dict>
		<key>com.apple.developer.sensorkit.reader.allow</key>
		<dict>
			<key>name</key>
			<string>传感器数据</string>
			<key>description</key>
			<string>允许访问经预先批准的研究项目所需的传感器数据。</string>
			<key>key</key>
			<string>com.apple.developer.sensorkit.reader.allow</string>
			<key>symbol</key>
			<string>sensor</string>
		</dict>
		<key>com.apple.developer.siri</key>
		<dict>
			<key>name</key>
			<string>Siri</string>
			<key>description</key>
			<string>允许 App 处理 Siri 请求。</string>
			<key>key</key>
			<string>com.apple.developer.siri</string>
			<key>symbol</key>
			<string>mic.circle</string>
		</dict>
		<key>com.apple.developer.storekit.external-link.account</key>
		<dict>
			<key>name</key>
			<string>外部网站账户关联</string>
			<key>description</key>
			<string>App 可以链接到外部网站进行账户创建或管理。</string>
			<key>key</key>
			<string>com.apple.developer.storekit.external-link.account</string>
			<key>symbol</key>
			<string>link.badge.plus</string>
		</dict>
		<key>com.apple.developer.storekit.external-purchase</key>
		<dict>
			<key>name</key>
			<string>外部购买</string>
			<key>description</key>
			<string>App 可以提供外部购买。</string>
			<key>key</key>
			<string>com.apple.developer.storekit.external-purchase</string>
			<key>symbol</key>
			<string>dollarsign.circle</string>
		</dict>
		<key>com.apple.developer.storekit.external-purchase-link</key>
		<dict>
			<key>name</key>
			<string>外部购买网站链接</string>
			<key>description</key>
			<string>App 可以包含链接，引导用户前往网站进行外部购买。</string>
			<key>key</key>
			<string>com.apple.developer.storekit.external-purchase-link</string>
			<key>symbol</key>
			<string>link.badge.plus</string>
		</dict>
		<key>com.apple.developer.video-subscriber-single-sign-on</key>
		<dict>
			<key>name</key>
			<string>订阅者单点登录</string>
			<key>description</key>
			<string>允许 App 使用单点登录。</string>
			<key>key</key>
			<string>com.apple.developer.video-subscriber-single-sign-on</string>
			<key>symbol</key>
			<string>rectangle.and.pencil.and.ellipsis</string>
		</dict>
		<key>com.apple.smoot.subscriptionservice</key>
		<dict>
			<key>name</key>
			<string>订阅验证</string>
			<key>description</key>
			<string>允许 App 检查电视订阅。</string>
			<key>key</key>
			<string>com.apple.smoot.subscriptionservice</string>
			<key>symbol</key>
			<string>person.crop.circle.badge.checkmark</string>
		</dict>
		<key>com.apple.developer.pass-type-identifiers</key>
		<dict>
			<key>name</key>
			<string>通行证类型</string>
			<key>description</key>
			<string>允许 App 检查 Apple Wallet 中的通行证。</string>
			<key>key</key>
			<string>com.apple.developer.pass-type-identifiers</string>
			<key>symbol</key>
			<string>wallet.pass</string>
		</dict>
		<key>com.apple.developer.in-app-payments</key>
		<dict>
			<key>name</key>
			<string>Apple Pay</string>
			<key>description</key>
			<string>允许 App 使用 Apple Pay。</string>
			<key>key</key>
			<string>com.apple.developer.in-app-payments</string>
			<key>symbol</key>
			<string>dollarsign.circle</string>
		</dict>
		<key>com.apple.developer.in-app-identity-presentment</key>
		<dict>
			<key>name</key>
			<string>Apple Pay - 用户验证</string>
			<key>description</key>
			<string>允许 App 为 Apple Pay 验证用户。</string>
			<key>key</key>
			<string>com.apple.developer.in-app-identity-presentment</string>
			<key>symbol</key>
			<string>dollarsign.circle</string>
		</dict>
		<key>com.apple.developer.in-app-identity-presentment.merchant-identifiers</key>
		<dict>
			<key>name</key>
			<string>Apple Pay - 商户验证</string>
			<key>description</key>
			<string>允许 App 为 Apple Pay 验证商户。</string>
			<key>key</key>
			<string>com.apple.developer.in-app-identity-presentment.merchant-identifiers</string>
			<key>symbol</key>
			<string>dollarsign.circle</string>
		</dict>
		<key>com.apple.developer.weatherkit</key>
		<dict>
			<key>name</key>
			<string>天气数据</string>
			<key>description</key>
			<string>允许 App 使用 WeatherKit。</string>
			<key>key</key>
			<string>com.apple.developer.weatherkit</string>
			<key>symbol</key>
			<string>cloud.sun</string>
		</dict>
		<key>com.apple.developer.web-browser</key>
		<dict>
			<key>name</key>
			<string>默认网页浏览器</string>
			<key>description</key>
			<string>允许 App 被设置为用户的默认网页浏览器。</string>
			<key>key</key>
			<string>com.apple.developer.web-browser</string>
			<key>symbol</key>
			<string>globe.europe.africa</string>
		</dict>
		<key>com.apple.developer.web-browser.public-key-credential</key>
		<dict>
			<key>name</key>
			<string>通行密钥</string>
			<key>description</key>
			<string>允许 App 访问通行密钥。</string>
			<key>key</key>
			<string>com.apple.developer.web-browser.public-key-credential</string>
			<key>symbol</key>
			<string>key.viewfinder</string>
		</dict>
		<key>com.apple.developer.networking.wifi-info</key>
		<dict>
			<key>name</key>
			<string>Wi-Fi 信息访问</string>
			<key>description</key>
			<string>允许 App 访问已连接的 Wi-Fi 网络信息。</string>
			<key>key</key>
			<string>com.apple.developer.networking.wifi-info</string>
			<key>symbol</key>
			<string>wifi</string>
		</dict>
		<key>com.apple.external-accessory.wireless-configuration</key>
		<dict>
			<key>name</key>
			<string>无线配件配置</string>
			<key>description</key>
			<string>App 可以配置 MFi Wi-Fi 配件。</string>
			<key>key</key>
			<string>com.apple.external-accessory.wireless-configuration</string>
			<key>symbol</key>
			<string>wifi</string>
		</dict>
		<key>com.apple.developer.networking.multipath</key>
		<dict>
			<key>name</key>
			<string>多路径支持</string>
			<key>description</key>
			<string>App 可以使用多路径协议在 Wi-Fi 和蜂窝网络之间无缝切换。</string>
			<key>key</key>
			<string>com.apple.developer.networking.multipath</string>
			<key>symbol</key>
			<string>antenna.radiowaves.left.and.right</string>
		</dict>
		<key>com.apple.developer.networking.HotspotConfiguration</key>
		<dict>
			<key>name</key>
			<string>热点</string>
			<key>description</key>
			<string>App 可以使用热点管理器配置 Wi-Fi 网络。</string>
			<key>key</key>
			<string>com.apple.developer.networking.HotspotConfiguration</string>
			<key>symbol</key>
			<string>personalhotspot</string>
		</dict>
		<key>com.apple.developer.nfc.readersession.formats</key>
		<dict>
			<key>name</key>
			<string>NFC 标签读取会话格式</string>
			<key>description</key>
			<string>App 可以读取的近场通信数据格式。</string>
			<key>key</key>
			<string>com.apple.developer.nfc.readersession.formats</string>
			<key>symbol</key>
			<string>iphone.gen1.radiowaves.left.and.right.circle</string>
		</dict>
		<key>get-task-allow</key>
		<dict>
			<key>name</key>
			<string>可调试</string>
			<key>description</key>
			<string>允许开发者将调试器附加到此 App。此权限是 JIT 工作所必需的。</string>
			<key>key</key>
			<string>get-task-allow</string>
			<key>symbol</key>
			<string>hammer</string>
		</dict>
		<key>inter-app-audio</key>
		<dict>
			<key>name</key>
			<string>App 间音频</string>
			<key>description</key>
			<string>允许在 App 之间共享实时音频。</string>
			<key>key</key>
			<string>inter-app-audio</string>
			<key>symbol</key>
			<string>hifispeaker.2</string>
		</dict>
	</dict>
	<key>privacy</key>
	<dict>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<dict>
			<key>name</key>
			<string>蓝牙</string>
			<key>key</key>
			<string>NSBluetoothAlwaysUsageDescription</string>
			<key>symbol</key>
			<string>antenna.radiowaves.left.and.right</string>
		</dict>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<dict>
			<key>name</key>
			<string>蓝牙（外设）</string>
			<key>key</key>
			<string>NSBluetoothPeripheralUsageDescription</string>
			<key>symbol</key>
			<string>antenna.radiowaves.left.and.right</string>
		</dict>
		<key>NSCalendarsUsageDescription</key>
		<dict>
			<key>name</key>
			<string>日历</string>
			<key>key</key>
			<string>NSCalendarsUsageDescription</string>
			<key>symbol</key>
			<string>calendar</string>
		</dict>
		<key>NSRemindersUsageDescription</key>
		<dict>
			<key>name</key>
			<string>提醒事项</string>
			<key>key</key>
			<string>NSRemindersUsageDescription</string>
			<key>symbol</key>
			<string>note.text</string>
		</dict>
		<key>NSCameraUsageDescription</key>
		<dict>
			<key>name</key>
			<string>相机</string>
			<key>key</key>
			<string>NSCameraUsageDescription</string>
			<key>symbol</key>
			<string>camera</string>
		</dict>
		<key>NSMicrophoneUsageDescription</key>
		<dict>
			<key>name</key>
			<string>麦克风</string>
			<key>key</key>
			<string>NSMicrophoneUsageDescription</string>
			<key>symbol</key>
			<string>mic</string>
		</dict>
		<key>NSContactsUsageDescription</key>
		<dict>
			<key>name</key>
			<string>通讯录</string>
			<key>key</key>
			<string>NSContactsUsageDescription</string>
			<key>symbol</key>
			<string>person.crop.circle</string>
		</dict>
		<key>NSFaceIDUsageDescription</key>
		<dict>
			<key>name</key>
			<string>面容 ID</string>
			<key>key</key>
			<string>NSFaceIDUsageDescription</string>
			<key>symbol</key>
			<string>faceid</string>
		</dict>
		<key>NSGKFriendListUsageDescription</key>
		<dict>
			<key>name</key>
			<string>Game Center 好友列表</string>
			<key>key</key>
			<string>NSGKFriendListUsageDescription</string>
			<key>symbol</key>
			<string>gamecontroller</string>
		</dict>
		<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
		<dict>
			<key>name</key>
			<string>健康（临床记录）</string>
			<key>key</key>
			<string>NSHealthClinicalHealthRecordsShareUsageDescription</string>
			<key>symbol</key>
			<string>heart.text.square</string>
		</dict>
		<key>NSHealthShareUsageDescription</key>
		<dict>
			<key>name</key>
			<string>健康</string>
			<key>key</key>
			<string>NSHealthShareUsageDescription</string>
			<key>symbol</key>
			<string>heart.text.square</string>
		</dict>
		<key>NSHealthUpdateUsageDescription</key>
		<dict>
			<key>name</key>
			<string>健康（添加）</string>
			<key>key</key>
			<string>NSHealthUpdateUsageDescription</string>
			<key>symbol</key>
			<string>heart.text.square</string>
		</dict>
		<key>NSHomeKitUsageDescription</key>
		<dict>
			<key>name</key>
			<string>HomeKit</string>
			<key>key</key>
			<string>NSHomeKitUsageDescription</string>
			<key>symbol</key>
			<string>homekit</string>
		</dict>
		<key>NSLocationAlwaysUsageDescription</key>
		<dict>
			<key>name</key>
			<string>位置（后台）</string>
			<key>key</key>
			<string>NSLocationAlwaysUsageDescription</string>
			<key>symbol</key>
			<string>location.fill</string>
		</dict>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<dict>
			<key>name</key>
			<string>位置（始终）</string>
			<key>key</key>
			<string>NSLocationAlwaysAndWhenInUseUsageDescription</string>
			<key>symbol</key>
			<string>location.fill</string>
		</dict>
		<key>NSLocationUsageDescription</key>
		<dict>
			<key>name</key>
			<string>位置</string>
			<key>key</key>
			<string>NSLocationUsageDescription</string>
			<key>symbol</key>
			<string>location.fill</string>
		</dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<dict>
			<key>name</key>
			<string>位置（使用时）</string>
			<key>key</key>
			<string>NSLocationWhenInUseUsageDescription</string>
			<key>symbol</key>
			<string>location</string>
		</dict>
		<key>NSLocationTemporaryUsageDescription</key>
		<dict>
			<key>name</key>
			<string>位置（临时）</string>
			<key>key</key>
			<string>NSLocationTemporaryUsageDescription</string>
			<key>symbol</key>
			<string>location</string>
		</dict>
		<key>NSAppleMusicUsageDescription</key>
		<dict>
			<key>name</key>
			<string>Apple Music</string>
			<key>key</key>
			<string>NSAppleMusicUsageDescription</string>
			<key>symbol</key>
			<string>music.note</string>
		</dict>
		<key>NSMotionUsageDescription</key>
		<dict>
			<key>name</key>
			<string>运动</string>
			<key>key</key>
			<string>NSMotionUsageDescription</string>
			<key>symbol</key>
			<string>figure.run</string>
		</dict>
		<key>NSFallDetectionUsageDescription</key>
		<dict>
			<key>name</key>
			<string>摔倒检测</string>
			<key>key</key>
			<string>NSFallDetectionUsageDescription</string>
			<key>symbol</key>
			<string>figure.fall</string>
		</dict>
		<key>NSLocalNetworkUsageDescription</key>
		<dict>
			<key>name</key>
			<string>本地网络</string>
			<key>key</key>
			<string>NSLocalNetworkUsageDescription</string>
			<key>symbol</key>
			<string>network</string>
		</dict>
		<key>NSNearbyInteractionUsageDescription</key>
		<dict>
			<key>name</key>
			<string>附近交互</string>
			<key>key</key>
			<string>NSNearbyInteractionUsageDescription</string>
			<key>symbol</key>
			<string>dot.radiowaves.left.and.right</string>
		</dict>
		<key>NSNearbyInteractionAllowOnceUsageDescription</key>
		<dict>
			<key>name</key>
			<string>附近交互（一次）</string>
			<key>key</key>
			<string>NSNearbyInteractionAllowOnceUsageDescription</string>
			<key>symbol</key>
			<string>dot.radiowaves.left.and.right</string>
		</dict>
		<key>NFCReaderUsageDescription</key>
		<dict>
			<key>name</key>
			<string>NFC</string>
			<key>key</key>
			<string>NSNFCReaderUsageDescription</string>
			<key>symbol</key>
			<string>sensor.tag.radiowaves.forward</string>
		</dict>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<dict>
			<key>name</key>
			<string>照片（添加）</string>
			<key>key</key>
			<string>NSPhotoLibraryAddUsageDescription</string>
			<key>symbol</key>
			<string>photo</string>
		</dict>
		<key>NSPhotoLibraryUsageDescription</key>
		<dict>
			<key>name</key>
			<string>照片</string>
			<key>key</key>
			<string>NSPhotoLibraryUsageDescription</string>
			<key>symbol</key>
			<string>photo.stack</string>
		</dict>
		<key>NSUserTrackingUsageDescription</key>
		<dict>
			<key>name</key>
			<string>用户追踪</string>
			<key>key</key>
			<string>NSUserTrackingUsageDescription</string>
			<key>symbol</key>
			<string>location.magnifyingglass</string>
		</dict>
		<key>NSSensorKitUsageDescription</key>
		<dict>
			<key>name</key>
			<string>SensorKit</string>
			<key>key</key>
			<string>NSSensorKitUsageDescription</string>
			<key>symbol</key>
			<string>sensor</string>
		</dict>
		<key>NSSiriUsageDescription</key>
		<dict>
			<key>name</key>
			<string>Siri</string>
			<key>key</key>
			<string>NSSiriUsageDescription</string>
			<key>symbol</key>
			<string>mic.circle</string>
		</dict>
		<key>NSSpeechRecognitionUsageDescription</key>
		<dict>
			<key>name</key>
			<string>语音识别</string>
			<key>key</key>
			<string>NSSpeechRecognitionUsageDescription</string>
			<key>symbol</key>
			<string>waveform.and.mic</string>
		</dict>
		<key>NSIdentityUsageDescription</key>
		<dict>
			<key>name</key>
			<string>身份证件</string>
			<key>key</key>
			<string>NSIdentityUsageDescription</string>
			<key>symbol</key>
			<string>wallet.pass</string>
		</dict>
	</dict>
</dict>
</plist>
